
:root{
    --dark-blue: #051E34;
    --blue: #1B72E8;
    --blue-btn: #165BBA;
    --yellow: #FF8F00;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* .debug{
    border: solid 1px red;
} */

header #search{
    width: calc(100% - 50px);
}
.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: fixed;
}

main{
    width: calc(100% - 200px);
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
}
#main-top{
    height: auto;
}
#main-bottom{
    height: calc(100vh - 100px);
}
#side-bar{
    background-image: url("/img/sidebar-bg.png");
    background-color: var(--dark-blue);
    width: 200px;
    height: 100vh;

}
#side-bar-top{
    width: 100%;
    min-height: 200px;
    height: calc(100% - 150px);
}
#side-bar-bottom{
    width: 100%;
    height: 80px;
}
.icon-25{
    width: 30px;
    height: 30px;
}
.icon-27{
    width: 33px;
    height: 33px;
}

.circle{
    border-radius: 50%;   
}
.width-120{
    width: 120px;
}
.width-80{
    width: 80px;
}
.width-calc{
    min-width: 120px;
}
.height{
    height: 30px;
}




/* settings color - background */

.blue{
    background-color: var(--blue);
}
.blue-btn{
    background-color: var(--blue-btn);
}
.yellow{
    color: var(--yellow);
}


/* hover effect */

#side-bar ul li:hover{
    background-color: rgba(255, 255, 255, 0.374);

}


#main-top #btn-hover:hover{
    background-color: white;
    color: var(--blue-btn) !important;
}
#main-top .btn-hover:hover{
    background-color: #114388 !important;
}


#main-bottom table button:first-child:hover{
    background-color: rgb(47, 255, 0) !important;
}
#main-bottom table button:first-child:hover .fa-solid{
    color: white !important;
}
#main-bottom table button:last-child:hover{
    background-color: rgb(255, 55, 0) !important;
}
#main-bottom table button:last-child:hover .fa-solid{
    color: white !important;
}





@media screen and (max-width: 576px ) {
    #side-bar{
        width: 80px;
    }
    #main-bottom .remove{
        display: none;
    }
    #side-bar .remove{
        display: none;
    }
    .offcanvas{
        width: 100% !important
    }
}

@media screen and (max-width: 768px ) {
    #side-bar{
        width: 80px;
    }
    
    #side-bar .remove{
        display: none;
    }

    .offcanvas{
        width: 100% !important
    }
}